<!--The content below is only a placeholder and can be replaced.-->
<h1>Data sample demo app</h1>
<ul>
  <li>total {{cust.data.length}}</li>
  <li>unique firstnames {{firsts.size}}</li>
  <li>unique lastnames{{lasts.size}}</li>
</ul>

<button (click)="reset()">reset</button>

<select name="first" (change)='uplasts($event.target.value)'>
  <option *ngFor="let f of firsts" [value]="f" >{{f}}</option>
</select>

<select name="last" (change)='upfirsts($event.target.value)'>
    <option *ngFor="let f of lasts" [value]="f" >{{f}}</option>
</select>
